*{
font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Rasa', serif;
}
.banner{
    /* width: 1920px;
height: 800px; */
flex-shrink: 0;
background: rgba(229, 84, 115, 0.10);
align-items: right;
display: inline-block;
padding-bottom: 0px;




 
}
.banner-title{
    display: flex;
width: 200px;
/* flex-direction: column; */
flex-shrink: normal;
color: #272727;
font-size: 80px;
font-style: normal;
font-family: josefin sans;
font-weight: 800;
line-height: normal;
/* padding: 100px 200px 365px 100px; */
padding-top: 197px;
line-height: 90px;
padding-left: 100px;
padding-right: 300px;

}
.banner-content{
    border: 200px;
    display: flex;
    /* text-align: center; */
    border-top: 0px;
}
.header{
    /* width: 1920px;
height: 850px; */
flex-shrink: 0;
background: rgba(229, 84, 115, 0.10);
}
.banner-flower{
    width: 600px;
height: 800px;
margin-left: 200px;
display: block;
padding: 0px;
size: 50px;

}